@model ProyectoCRUD.WEB.Models.Entities.Maquinaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maquinaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Componentes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Componentes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voltaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voltaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amperaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amperaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtectorTermico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtectorTermico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CajaReductora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CajaReductora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMaquina"><input type="submit" value="Editar" class="btn btn-primary"/></a> |
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>
